@model PiattoViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
        <th scope="col">Tipologia</th>
        <th scope="col">Prezzo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.PiattoId</td>
            <td>@Model.Nome</td>
            <td>@Model.Descrizione</td>
             <td>@Model.Tipologia</td>
               <td>@Model.Prezzo</td>
            
        </tr>
    </tbody>
</table>