@model List<PiattoViewModel>

<h1>Ecco la lista dei piatti</h1>
<a class="btn btn-primary" asp-controller="Piatti" asp-action="Create" type="button">Inserisci un nuovo piatto</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
             @*<th scope="col">Descrizione</th>
            <th scope="col">Tipologia</th>
            <th scope="col">Prezzo</th>*@
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PiattoId</td>
                <td>@item.Nome</td>
                @*<td>@item.Descrizione</td>
                <td>@item.Tipologia</td>
                <td>@item.Prezzo</td>*@
                <td>
                    <a asp-controller="Piatti" asp-action="Details" asp-route-id="@item.PiattoId" class="btn btn-secondary">Visualizza dettagli piatto</a>
                    <a asp-controller="Piatti" asp-action="Edit" asp-route-id="@item.PiattoId" class="btn btn-primary">Modifica piatto</a>
                    <a asp-controller="Piatti" asp-action="Delete" asp-route-id="@item.PiattoId" class="btn btn-danger">Elimina piatto</a>
                </td>
            </tr>
        }
    </tbody>
</table>